extends ../layouts/base.pug

block content
  main
    section.slider
      .slider__container
        .slider__slides
          .slider__slide.slide
            h2.slide__title
              | Крем-брюле и пломбир с малиновым джемом
            a.slide__link.btn(href='#')
              | Давайте оба!
          .slider__slide.slide
            h2.slide__title
              | Шоколадный пломбир и лимонный сорбет
            a.slide__link.btn(href='#')
              | Давайте оба!
          .slider__slide.slide
            h2.slide__title
              | Пломбир с помадкой и клубничный щербет
            a.slide__link.btn(href='#')
              | Давайте оба!
        .slider__controls
            button.slider__controls-item(type='button', disabled)
              span
                | 1
            button.slider__controls-item(type='button')
              span
                | 2
            button.slider__controls-item(type='button')
              span
                | 3
    section.info
      .info__container
        h1.info__title
          | Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого собственного производства на развес
        .info__items
          p.info__item
            | Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
          p.info__item
            | Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
          p.info__item
            | Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
          p.info__item
            | Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.
    //- div
      .div__container
        div

        div
          p
            | Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)
    //- section.map
