extends ../layouts/base.pug

block content
  header.page-header
    .page-header__wrapper
      .page-header__row.page-header__row--top
        a.page-header__logo.logo
          svg(width='154', height='64', aria-label='Логотип Глейси')
            use(xlink:href='img/symbols.svg#logo')
        nav.main-nav
          ul.main-nav__items.main-nav__items--main
            li.main-nav__item
              a.page-header__dropdown-toggle.main-nav__link(href='#')
                | Каталог
              .page-header__dropdown-menu.main-nav__dropdown
                ul.main-nav__items.main-nav__items--lvl2.main-nav__items--lvl2-top
                  li.main-nav__item
                    a.main-nav__link(href='#')
                      | Новинки
                ul.main-nav__items.main-nav__items--lvl2
                  li.main-nav__item
                    a.main-nav__link(href='catalog.html')
                      | Сливочное
                  li.main-nav__item
                    a.main-nav__link(href='#')
                      | Щербеты
                  li.main-nav__item
                    a.main-nav__link(href='#')
                      | Фруктовый лед
                  li.main-nav__item
                    a.main-nav__link(href='#')
                      | Мелорин
            li.main-nav__item
              a.main-nav__link(href='#')
                | Доставка и оплата
            li.main-nav__item
              a.main-nav__link(href='#')
                | О Компании
        .page-header__menu.header-menu
          .header-menu__item
            a.page-header__dropdown-toggle.header-menu__link.header-menu__link--search(href='#')
              svg(width='17', height='17')
                use(xlink:href='img/symbols.svg#icon-loupe')
              span.visually-hidden
                | Поиск
            form.page-header__dropdown-menu.header-menu__search(action='#', method='post')
              label
                span.visually-hidden
                  | Поле поиска
                input.field(type='search', placeholder='Что ищем?')
          .header-menu__item
            a.page-header__dropdown-toggle.header-menu__link(href='#')
              svg(width='21', height='19')
                use(xlink:href='img/symbols.svg#icon-entrance')
              | Вход
            .page-header__dropdown-menu(action='#', method='post')
              form.header-menu__login.login(action='#', method='post')
                label
                  span.visually-hidden
                    | Электронная почта
                  input.field.header-menu__login-field(type='email', placeholder='Электронная почта')
                label
                  span.visually-hidden
                    | Пароль
                  input.field.header-menu__login-field(type='password', placeholder='Пароль')
                .login__footer
                  button.btn(type='submit')
                    | Войти
                  p.login__links
                    a.login__link(href='#')
                      | Забыли пароль?
                    br
                    a.login__link(href='#')
                      | Новая регистрация
          .header-menu__item
            a.header-menu__link(href='#')
              svg(width='21', height='20')
                use(xlink:href='img/symbols.svg#icon-basket')
              span
                | Пусто
      .page-header__row.page-header__row--bottom
        p.page-header__phone
          | с 10 до 20, ежедневно
          br
          a.page-header__phone-number(href='tel:88124502525')
            | 8 812 450-25-25
  main
    .main__wrapper
      h1.visually-hidden
        | Магазин мороженного Глэйси
      section.slider
        .slider__container
          h2.visually-hidden
            | Два мороженых
          .slider__slides
            .slider__slide.slide
              h3.slide__title
                | Крем-брюле и пломбир с малиновым джемом
              a.slide__link.btn(href='#')
                | Давайте оба!
            .slider__slide.slide
              h3.slide__title
                | Шоколадный пломбир и лимонный сорбет
              a.slide__link.btn(href='#')
                | Давайте оба!
            .slider__slide.slide
              h3.slide__title
                | Пломбир с помадкой и клубничный щербет
              a.slide__link.btn(href='#')
                | Давайте оба!
          .slider__controls
              button.slider__controls-item(type='button', disabled)
                span.visually-hidden
                  | 1
              button.slider__controls-item(type='button')
                span.visually-hidden
                  | 2
              button.slider__controls-item(type='button')
                span.visually-hidden
                  | 3
      section.promotions
        h2.visually-hidden
          | Акции
        .main__row
          .main__column
            .promotions__promotion.promotion.promotion--raspberries
              h3.promotion__title
                | Малинка даром!
              p.promotion__description
                | При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку малинового варенья бесплатно.
              a.promotion__link.btn(href='#')
                | Хочу варенье!
          .main__column
            .promotions__promotion.promotion.promotion--chocolate
              h3.promotion__title
                | Шоколадки даром!
              p.promotion__description
                | При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной присыпки совершенно бесплатно.
              a.promotion__link.btn(href='#')
                | Хочу шоколадки!
      section.best-sellers
        .best-sellers__container
          h2.visually-hidden
            | Популярное
          .best-sellers__items
            .best-sellers__item.product
              .product__flag.product__flag--hit
                span.visually-hidden
                  | Хит
              .product__img-wrap
                img(src='img/product-1.jpg', width='267', height='267', alt='')
              p.product__price.price
                span.price__number
                  | 310
                span.visually-hidden
                  |
                  | рублей
                span.price__measure
                  | /кг
              h3.product__title
                a.product__link(href='#')
                  | Сливочное с апельсиновым джемом и цитрусовой стружкой
              a.product__fast-look.btn(href='#')
                | Быстрый просмотр
            .best-sellers__item.product
              .product__flag.product__flag--hit
                span.visually-hidden
                  | Хит
              .product__img-wrap
                img(src='img/product-2.jpg', width='267', height='267', alt='')
              p.product__price.price
                span.price__number
                  | 380
                span.visually-hidden
                  |
                  | рублей
                span.price__measure
                  | /кг
              h3.product__title
                a.product__link(href='#')
                  | Сливочно-кофейное с кусочками шоколада
              a.product__fast-look.btn(href='#')
                | Быстрый просмотр
            .best-sellers__item.product
              .product__flag.product__flag--hit
                span.visually-hidden
                  | Хит
              .product__img-wrap
                img(src='img/product-3.jpg', width='267', height='267', alt='')
              p.product__price.price
                span.price__number
                  | 355
                span.visually-hidden
                  |
                  | рублей
                span.price__measure
                  | /кг
              h3.product__title
                a.product__link(href='#')
                  | Сливочно-клубничное с присыпкой из белого шоколада
              a.product__fast-look.btn(href='#')
                | Быстрый просмотр
            .best-sellers__item.product
              .product__flag.product__flag--hit
                span.visually-hidden
                  | Хит
              .product__img-wrap
                img(src='img/product-4.jpg', width='267', height='267', alt='')
              p.product__price.price
                span.price__number
                  | 415
                span.visually-hidden
                  |
                  | рублей
                span.price__measure
                  | /кг
              h3.product__title
                a.product__link(href='#')
                  | Сливочное крем-брюле с карамельной подливкой
              a.product__fast-look.btn(href='#')
                | Быстрый просмотр
      section.info
        .info__container
          h2.info__title
            | Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого собственного производства на развес
          .info__items
            p.info__item
              | Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
            p.info__item
              | Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
            p.info__item
              | Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
            p.info__item
              | Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.
      .main__row
        .main__column
          section.blog-news
            h2.blog-news__title
              | Новое в нашем блоге
            h3.blog-news__news
              a.blog-news__news-link(href='#')
                | 10 способов сервировки фруктовых щербетов к столу
        .main__column
          section.subscription
            h2.visually-hidden
              | Подписка
            p.subscription__description
              | Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)
            form.subscription__form(action='#', method='post')
              label
                span.visually-hidden
                  | Электронная почта
                input.subscription__field.field(type='email', placeholder='Электронная почта')
              button.subscription__submit.btn(type='submit')
                | Отправить
    section.contacts
      .contacts__wrapper
        h2.visually-hidden
          | Контакты
        .contacts__content
          address.contacts__address
            p.contacts__content-row
              | Адрес главного офиса и офлайн-магазина:
              br
              b
                | ул. Большая Конюшенная 19/8,
                br
                | Санкт-Петербург
            p.contacts__content-row
              | Для заказов по телефону:
              br
              b
                a.contacts__phone(href='tel:88124502525')
                  | 8 812 450-25-25
              br
              | (с 10 до 20 ежедневно)
          a.contacts__btn.btn(href='#')
            | Форма обратной связи
        section.contacts__feedback.feedback
          h3.feedback__title
            | Мы обязательно вам ответим!
          form.feedback__form(action='#', method='post')
            .feedback__items
              .feedback__item
                label
                  span.visually-hidden
                    | Имя
                  input.feedback__field.field(type='text', placeholder='Как вас зовут?')
              .feedback__item
                label
                  span.visually-hidden
                    | Электронная почта
                  input.feedback__field.field(type='email', placeholder='Ваша почта для ответа?')
              .feedback__item
                label
                  span.visually-hidden
                    | Поле для текста
                  textarea.feedback__field.field(placeholder='Напишите что-нибудь...')
            button.feedback__send.btn(type='submit')
              | Отправить
          button.feedback__close(type='button')
            | Закрыть
        .modal__overlay
      .contacts__map
        .contacts__map-img-wrap
          img(src='img/map.jpg', width='1200', height='430', alt='Офис компании по адресу ул. Большая Конюшенная 19/8, Санкт-Петербург')
