section.blog-news
  .blog-news__inner
    h2.blog-news__title
      | Новое в нашем блоге
    h3.blog-news__news
      a.blog-news__news-link(href='#')
        | 10 способов сервировки фруктовых щербетов к столу
