.catalog-nav
  a.catalog-nav__arrow.catalog-nav__arrow--prev
    span.visually-hidden
      | Назад
  ul.catalog-nav__items
    li.catalog-nav__item
      a.catalog-nav__btn
        | 1
    li.catalog-nav__item
      a.catalog-nav__btn(href='#')
        | 2
    li.catalog-nav__item
      a.catalog-nav__btn(href='#')
        | 3
    li.catalog-nav__item
      a.catalog-nav__btn(href='#')
        | 4
    li.catalog-nav__item
      a.catalog-nav__btn(href='#')
        | 5
  a.catalog-nav__arrow.catalog-nav__arrow--next(href='#')
    span.visually-hidden
      | Вперед
