section.info
  .info__container
    h2.info__title
      | Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого
      | собственного производства на развес
    .info__items
      p.info__item.info__item--ice-cream
        | Все наше мороженое изготавливается на собственном производстве, с
        | использованием современного оборудования и проверенных временем
        | технологий.
      p.info__item.info__item--farm
        | Закупка ингредиентов  производится только у проверенных фермерских
        | хозяйств и компаний, с которыми нас связывает долговременное
        | сотрудничество.
      p.info__item.info__item--natural
        | Для приготовления мороженого используются настоящие сливки и молоко
        | высочайшего качества. Все дополнительные ингредиенты и добавки
        | произведены из натурального, экологически чистого сырья.
      p.info__item.info__item--termo
        | Доставка нашего мороженого до заказчиков осуществляется в
        | специальном термопаке, который не дает мороженому растаять в пути
        | и позволяет сохранить превосходный вкус.
