section.promotions
  h2.visually-hidden
    | Акции
  .main__row
    .main__column
      .promotions__promotion.promotion.promotion--raspberries
        h3.promotion__title
          | Малинка даром!
        .promotion__description
          p
            | При покупке 2 кг любого фруктового мороженого, добавим в ваш
            | заказ банку малинового варенья бесплатно.
        a.promotion__link.btn(href='#')
          | Хочу варенье!
    .main__column
      .promotions__promotion.promotion.promotion--chocolate
        h3.promotion__title
          | Шоколадки даром!
        .promotion__description
          p
            | При покупке 2 кг пломбира, добавим в ваш заказ упаковку
            | вкуснейшей шоколадной присыпки совершенно бесплатно.
        a.promotion__link.btn(href='#')
          | Хочу шоколадки!
