section.slider
  .slider__container
    h2.visually-hidden
      | Два мороженых
    .slider__slides
      .slider__slide.slide.slide--active
        h3.slide__title
          | Крем-брюле и пломбир с малиновым джемом
        a.slide__link.btn(href='#')
          | Давайте оба!
      .slider__slide.slide
        h3.slide__title
          | Шоколадный пломбир и лимонный сорбет
        a.slide__link.btn(href='#')
          | Давайте оба!
      .slider__slide.slide
        h3.slide__title
          | Пломбир с помадкой и клубничный щербет
        a.slide__link.btn(href='#')
          | Давайте оба!
    .slider__controls
        button.slider__control-item(type='button' disabled)
          span.visually-hidden
            | 1
        button.slider__control-item(type='button')
          span.visually-hidden
            | 2
        button.slider__control-item(type='button')
          span.visually-hidden
            | 3
