doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title
      | Глэйси
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic', rel='stylesheet')
    link(rel='stylesheet', href='css/style.min.css')
  block content

    include page-footer.pug
    script(src='js/concatenated.js')
