footer.page-footer
  //- .page-footer__wrapper
    .div

    .div
      ul
        li
          a(href='#')
            | Для поставщиков
        li
          a(href='#')
            | О производстве
        li
          a(href='#')
            | Наши документы
        li
          a(href='#')
            | Экологические стандарты
    .div
