.btn {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  color: white;
  text-decoration: none;

  background: none;
  background-color: $color-red;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: white;
  }
}
