.contacts__content {
  font-size: 14px;
  line-height: 20px;
  color: black;

  background-color: white;
}

.contacts__address {
  font-style: normal;

  b {
    font-size: 18px;
    line-height: 24px;
  }
}

.feedback {
  color: black;

  background-color: white;
}

.feedback__title {
  font-size: 24px;
}
