.contacts__wrapper {
  @include wrapper;

  // position: relative;
}

.contacts__content {
  // position: absolute;

  box-sizing: border-box;
  width: 300px;
  padding: 30px 25px;

  font-size: 14px;
  line-height: 20px;
  color: $gray--dark;

  background-color: white;
  border-radius: 15px;
}

.contacts__address {
  font-style: normal;

  b {
    font-size: 18px;
    line-height: 24px;
  }
}

.contacts__phone {
  &:hover,
  &:focus {
    color: $color-red;
  }
}

.feedback {
  // position: absolute;

  box-sizing: border-box;
  width: 477px;
  padding: 20px 25px;

  color: $gray--dark;

  background-color: $gray--light;
  border-radius: 15px;
}

.feedback__title {
  font-size: 24px;
}

.contacts__map-img-wrap {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
