.header-menu {
  position: relative;

  display: flex;
}

.header-menu__link {
  display: flex;
  align-items: center;
  height: 32px;
  margin-left: 10px;
  padding: 0 15px;

  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;

  background-color: rgba(white, 0.2);
  border-radius: 30px;

  &:hover,
  &:focus {
    color: $gray--dark;

    background-color: $gray--light;

    svg {
      display: block;

      fill: black;
    }
  }

  svg {
    margin-right: 5px;

    fill: white;
  }

  &--search {
    justify-content: center;
    width: 32px;
    padding: 0;

    svg {
      margin: 0;
    }
  }

  &--basket-empty {
    svg {
      color: transparent;
    }
  }

  &--basket-active {
    color: $gray--dark;

    background-color: $gray--light;

    svg {
      color: $color-red;

      fill: $gray--dark;
    }
  }
}

.header-menu__search {
  box-sizing: border-box;
  width: 345px;
  padding: 20px 15px;
}

.login {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  padding: 20px;
}

.login__field {
  margin-bottom: 20px;

  font-size: 14px;
}

.login__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__link {
  font-size: 13px;

  &:hover,
  &:focus {
    color: $color-red;
  }
}
