.info {
  padding: 20px;

  color: $gray--dark;

  background-color: #eaddc0;
  border-radius: 15px;
}

.info__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.info__items {
  display: flex;
  flex-wrap: wrap;
}

.info__item {
  box-sizing: border-box;
  width: 46.51%;
  margin-right: 2.32%;
  padding-left: 60px;

  line-height: 22px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}
