.main-nav__items {
  @include list-reset;
}

.main-nav__items--main {
  & > li {
    & > .main-nav__link {
      font-weight: 500;

      &:hover,
      &:focus {
        color: $gray--dark;
        text-decoration: none;

        background-color: $gray--light;
      }
    }
  }
}

.main-nav__items--lvl2 {
  flex-direction: column;

  .main-nav__link {
    font-size: 14px;
    color: $gray--dark;
    text-decoration: none;

    &[href] {
      &:hover,
      &:focus {
        background-color: #fbded7;
      }

      &:active {
        background-color: #f6b5a5;
      }
    }

    &:not([href]) {
      color: white;

      background-color: #d07058;
    }
  }
}

.main-nav__items--lvl2-top {
  font-weight: 700;
}
