.main-nav__items {
  @include list-reset;
}

.main-nav__link {
  font-weight: 500;
  color: inherit;
}

.main-nav__items--lvl2 {
  .main-nav__link {
    font-weight: 400;
    font-size: 14px;
    color: black;
  }
}
