.main-nav__items {
  @include list-reset;
}

.main-nav__items--main {
  & > li {
    & > .main-nav__link {
      display: inline-block;
      margin-right: 40px;
      padding: 0 15px;

      font-weight: 500;
      line-height: 32px;
      vertical-align: top;
      text-decoration: none;

      border-radius: 30px;

      &:hover,
      &:focus {
        color: $gray--dark;
        text-decoration: none;

        background-color: $gray--light;
      }
    }
  }
}

.main-nav__items--lvl2 {
  flex-direction: column;

  .main-nav__link {
    display: block;
    padding: 0 20px;

    font-size: 14px;
    vertical-align: top;
    color: $gray--dark;
    text-decoration: none;

    &[href] {
      &:hover,
      &:focus {
        background-color: #fbded7;
      }

      &:active {
        background-color: #f6b5a5;
      }
    }

    &:not([href]) {
      color: white;

      background-color: #d07058;
    }
  }
}

.main-nav__items--lvl2-top {
  font-weight: 700;
}

.page-header__dropdown-menu {
  position: absolute;

  border-radius: 3px;
  // display: none;
}
