.promotion {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  &--raspberries {
    background-color: #c12244;
  }

  &--chocolate {
    background-color: #392013;
  }
}

.promotion__title {
  margin: 0;

  font-size: 35px;
}

.promotion__description {
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promotion__link {
  align-self: flex-end;
  margin-top: auto;
}
