.promotion {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 228px;
  padding: 20px;

  background-repeat: no-repeat;

  &--raspberries {
    background-color: #c12244;
    background-image: url('../img/promotion-1.jpg');
  }

  &--chocolate {
    background-color: #392013;
    background-image: url('../img/promotion-2.jpg');
  }
}

.promotion__title {
  margin: 0;

  font-size: 35px;
}

.promotion__description {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promotion__link {
  align-self: flex-end;
  margin-top: auto;
}
