.product__img-wrap {
  img {
    border-radius: 50%;
  }
}

.price {
  font-weight: 700;
  font-size: 30px;
}

.price__number {
  font-size: 45px;
}

.product__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
}
