.promotion {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &--raspberries {
    background-color: #c12244;
  }

  &--chocolate {
    background-color: #392013;
  }
}

.promotion__title {
  font-size: 35px;
}

.promotion__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.promotion__link {
  margin-top: auto;
  margin-left: auto;
}
