body {
  font-weight: 400;
  font-size: 16px;
  font-family: $font-main;
  color: white;

  background-color: gray;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: $color-red--light;

    outline: none;
  }
}

// .visually-hidden {
//   @include visually-hidden;
// }
