.catalog__wrapper {
  @include wrapper;
}

.page-nav__list {
  @include list-reset;

  font-size: 14px;
}

.catalog__title {
  font-size: 35px;
}

.catalog__form {
  font-weight: 500;
}

.catalog__form-row {
  display: flex;
  align-items: center;
}

.catalog__filters-group {
  border: none;
}

.catalog__filters-title {
  font-size: 14px;
}

.catalog__filters-inner {
  background-color: rgba(white, 0.2);
}

.catalog__filters-submit {
  font-weight: 500;
  color: white;

  background-color: rgba(white, 0.2);
  border: none;
  box-shadow: inset 0 0 0 2px white;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $gray--dark;

    background-color: white;
    outline: none;
  }

  &:active {
    background-color: #eaeaea;
    box-shadow: inset 0 2px 1px #696969;
  }
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog-nav {
  display: flex;
  justify-content: flex-end;

  button {
    background: none;
    border: none;
  }
}

.catalog-nav__items {
  @include list-reset;
}

.catalog-nav__btn {
  font-weight: 500;

  border-radius: 50%;

  &:disabled {
    color: $gray--dark;

    background-color: white;
  }

  &:not(:disabled) {
    color: white;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
      outline: none;
    }
  }
}
