.catalog__wrapper {
  @include wrapper;
}

.catalog__container {
  @include container;
}

.catalog__inner {
  border-bottom: 1px solid rgba(white, 0.3);
}

.catalog__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 35px;
  line-height: 41px;
}

.catalog .catalog-form {
  margin-bottom: 20px;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.catalog .catalog-nav {
  margin: 30px 0;
}
