.main__wrapper {
  @include wrapper;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
}

.main__column {
  display: flex;
  flex-shrink: 0;
  width: 48.83%;
  margin-right: 2.34%;
  margin-bottom: 27px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  & > * {
    // height: 100%;
    border-radius: 15px;
  }
}

.index {
  .info {
    margin-bottom: 40px;
  }
}
