.main__wrapper {
  @include wrapper;
}

.main__container {
  @include container;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.main__column {
  display: flex;
  flex-shrink: 0;
  width: 48.9%;
  margin-right: 2.2%;
  margin-bottom: 25px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  & > * {
    border-radius: 15px;
  }
}

.index {
  &--1 {
    background-color: #849d8f;
  }

  &--2 {
    background-color: #8996a6;
  }

  &--3 {
    background-color: #9d8b84;
  }

  .page-header {
    margin: 0;
  }

  .page-header__wrapper {
    position: relative;
  }

  .page-header__container {
    position: absolute;
    left: 0;
    z-index: 2;

    width: 100%;
  }

  .main__wrapper {
    position: relative;

    padding-top: 645px;
  }

  .slider {
    @include wrapper;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 1200px;
    padding: 0;

    & + * {
      position: relative;
    }
  }

  .slider__controls {
    left: 2.3%;
  }

  .info {
    margin-bottom: 40px;
  }
}
