.main__wrapper {
  @include wrapper;
}

.main__row {
  display: flex;
  flex-wrap: wrap;
}

.main__column {
  display: flex;
  flex-shrink: 0;
  width: 48.83%;
  margin-right: 2.34%;
  margin-bottom: 27px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  & > * {
    border-radius: 15px;
  }
}

.index {
  .main__wrapper {
    position: relative;

    padding-top: 675px;
  }

  .page-header__wrapper {
    position: relative;
  }

  .page-header__container {
    position: absolute;
    left: 0;
    z-index: 2;

    box-sizing: border-box;
    width: 100%;
    padding: 0 27px;
  }

  .slider {
    @include wrapper;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0;

    & + * {
      position: relative;
    }
  }

  .slider__controls {
    left: 27px;
  }

  .info {
    margin-bottom: 40px;
  }
}
