.page-footer {
  padding: 20px 0;

  font-size: 13px;
}

.page-footer__wrapper {
  @include wrapper;
}

.page-footer__container {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__column {
  display: flex;
  flex-shrink: 0;
  width: 23.26%;

  &--middle {
    justify-content: center;
    width: 48.78%;
  }

  &--right {
    justify-content: flex-end;
  }
}

.social-links {
  @include list-reset;
}

.social-links__item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social-links__link {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;

  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(white, 0.5);
  opacity: 0.8;

  &--tw {
    background-image: url('../img/logo-twitter.svg');
  }

  &--in {
    background-image: url('../img/logo-instagram.svg');
  }

  &--fb {
    background-image: url('../img/logo-fb.svg');
  }

  &--vk {
    background-image: url('../img/logo-vk.svg');
  }


  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px rgba(white, 0.7);
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}

.footer-nav {
  display: flex;
}

.footer-nav__list {
  @include list-reset;

  display: block;
  flex-direction: column;
  padding-left: 20px;

  &:first-child {
    margin-right: 10px;
  }
}

.footer-nav__link {
  display: block;

  line-height: 20px;

  b {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -20px;

      width: 16px;
      height: 15px;

      background-image: url('../img/icon-heart.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.copyright {
  font-size: 12px;
}

.copyright__logo {
  display: block;

  svg {
    fill: white;
  }
}
