.page-header__wrapper {
  @include wrapper;
}

.page-header__container {
  @include container;
}

.page-header__row {
  &--top {
    display: flex;
    align-items: center;
  }

  &--bottom {
    text-align: right;
  }
}

.page-header__logo {
  margin-right: 10px;
}

.page-header__menu {
  margin-left: auto;
}

.page-header__phone {
  font-weight: 700;
  font-size: 14px;
}

.page-header__phone-number {
  font-size: 22px;
  text-decoration: none;
}
