.page-footer {
  padding: 20px 0;

  font-size: 13px;
}

.page-footer__wrapper {
  @include wrapper;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__column {
  display: flex;
  width: 23.26%;

  &--middle {
    width: 48.78%;
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}

.social-links {
  @include list-reset;
}

.footer-nav__list {
  @include list-reset;
}

.copyright {
  font-size: 12px;
}

.copyright__logo {
  svg {
    fill: white;
  }
}
