.page-header__dropdown-menu {
  color: $gray--dark;

  background-color: $gray--light;
}

.page-header__phone {
  font-weight: 700;
  font-size: 14px;
}

.page-header__phone-number {
  font-size: 22px;
  text-decoration: none;
}
